# Configuración de WhatsApp (Cobol)
WHATSAPP_SECRET=tu_secret_aqui
WHATSAPP_ACCOUNT_ID=tu_account_id

# API Key para proteger tu Webhook (Úsala en el panel de Cobol como Header X-API-KEY)
WEBHOOK_API_KEY=genera_un_token_seguro_aqui

# Configuración de Perfex CRM
PERFEX_BASE_URL=https://tu-dominio-crm.com
PERFEX_API_TOKEN=MiClaveSegura_987654321_AgenciaViajes

PORT=3000